body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-serif);
  background-color: var(--color-primary-dark);
  color: #ffffff;
  position: relative;
  z-index: 0;
  height: 100vh; /* Set body to full viewport height */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body::before, body::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

body::before {
  top: 0;
  height: 50%; /* Cover the top half of the body */
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/a746bcc17db92e13fe07174d16ed67e144f35e34.png');
  transform: rotate(360deg);
}

body::after {
  bottom: 0;
  height: 280px; /* Match footer height */
  background-image: url('../images/a746bcc17db92e13fe07174d16ed67e144f35e34.png');
  transform: scaleY(-1);
}
